*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(100deg, #c4d7f4, #629eff); /* Linear gradient background */
}
.container{
    margin-top: 106px;
}